body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
}

.main-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

.spacer {
    height: 70px;
}

.practicas {
    text-align: center;
    font-size: 20px;
}

.practicas__a {
    text-decoration: none;
}