body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background: #7f7fd5; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #91eae4,
        #86a8e7,
        #7f7fd5
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #91eae4,
        #86a8e7,
        #7f7fd5
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
    color: whitesmoke;
    font-size: 100px;
    margin-bottom: 150px;
    box-shadow: 10px, black;
}

.tasks-input {
    width: 25%;
    height: 50px;
    font-size: 24px;
    padding-left: 14px;
    padding-right: 14px;
    margin-bottom: 30px;
    background-color: whitesmoke;
    border: none;
}

.tasks-container {
    width: calc(25% + 28px);
    margin: auto;
}

.task {
    min-height: 50px;
    width: 100%;
    overflow-wrap: break-word;
    line-height: 50px;
    text-align: center;
    font-size: 24px;
    font-weight: bolder;
    color: #5a8a4c;
    border: 3px solid #5a8a4c;
    background-color: whitesmoke;
    margin-bottom: 10px;
}

.task:hover {
    color: whitesmoke;
    border: 3px solid whitesmoke;
    background-color: #5a8a4c;
}

.task--crossed {
    min-height: 50px;
    width: 100%;
    line-height: 50px;
    overflow-wrap: break-word;
    text-align: center;
    font-size: 24px;
    font-weight: bolder;
    border: 3px solid #7f7fd5;
    color: #7f7fd5;
    background-color: whitesmoke;
    margin-bottom: 10px;
    text-decoration: line-through;
}
